img{
  width: 20rem;
  border-radius: 10px;
}
body,html{
  font-family:cursive;
  padding: 10px;
}

header{
  font-size: large;
  font-weight: bold;
  text-align: center;
  color: rgb(93, 148, 244);
}

table{
  width: 100%;
  text-align: center;
  width: 100%;
  border-spacing: 20px;
  background-color: white;
  overflow-x:auto;
}
td{
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}
